@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
  background-image: url("/image/bg2.jpg");
  .wrapper-home {
    padding-top: 150px;
  }
}

.navlink-custom {
  text-decoration: none;
  font-size: 18px;
  color: white;

  .nav-link {
    color: white;
  }
}

.herokss {
    align-items: center;
}

.limiter {
  .container-login100 {
    background-image: url("/image/bg2.jpg");
  }
}

.logo-cstm {
  a {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.welcome-home {
  background-image: url("/image/bg2.jpg");
}
.heroku {
    max-width: 70%;
  .title-hero {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 30px;
    color: white;
  }
  .description-hero {
    color: white;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 30px;
  }
  .cta {
    display: inline-block;
    padding: 15px 45px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
}
.hero-image{
    max-width: 67%;
    margin-left: auto;
    img {
        fill: white;
    }
}